* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
    background-color: #e5ebef
}

p.a {
    font-size: normal;
    font-family: 'Public Sans', sans-serif;
}

table {
  font-family: serif;
  font-size: normal;
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}

hr.gray {
  border-top: 1px dashed gray;
}

a:visited {
  color: blue;
}

a.doc {
  text-decoration: none;
  }

a.doc:hover { 
  text-decoration: underline;
}
