* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
    background-color: #e5ebef
}

p.a {
    font-size: normal;
    font-family: 'Public Sans', sans-serif;
}

p.b {
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  background-color: white;
}

hr.gray {
  border-top: 1px dashed gray;
}

a {
  text-decoration: none;
  }

a:hover { 
  text-decoration: underline;
}
