* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
    background-color: #e5ebef
}

p.a, li {
    font-size: normal;
    font-family: 'Public Sans', sans-serif;
}

p.b {
    font-size: 16pt;
    font-family: serif;
}

hr.gray {
  border-top: 1px dashed gray;
}

.responsive {
  max-width: 100%;
  height: auto;
}

iframe.b {
  pointer-events: none;
	aspect-ratio: 3 / 4;
	height: auto;
	width: 100%;
}
