* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
    font-size: normal;
    font-family: 'Public Sans', sans-serif;
    background-color: #e5ebef
}

hr.gray {
  border-top: 1px dashed gray;
}